.main_container {
  width: 95vw; // Full viewport width
  height: 100vh; // Full viewport height (optional)
  display: flex; // Flex layout (optional, if you want content alignment)
  // justify-content: center; // Center content horizontally (optional)
  align-items: center; // Center content vertically (optional)
}

.home {
  // flex: 1;
  // background-color: red;
}

.dateBox {
  // background-color: green;
  background-color: grey;
  border-radius: 5%;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px;
}
